.bg-img1 {
    background-color: #000;
    background-size: cover;
    /*background-image: url(https://i.picsum.photos/id/87/200/300.jpg?hmac=YgijkxA35wxtPYqEsxGObDtNAlK3MVmNNb8ZH8IX1Rs);*/
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
    /* background-image: url(https://i.picsum.photos/id/1041/200/300.jpg?hmac=l4FIMky2hFQgqx0kNCHmVhtfQJz_CUcyK_0Q-UiQwAI);*/
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
    /*background-image: url(https://i.picsum.photos/id/967/200/200.jpg?hmac=s5pdTpbIPeIbni0PAuHQQeuDPFrlAa6-FLJJvpYN1Os);*/
}